<h1>Login </h1>

<form action="/users" method="POST">
	<label>Email :</label>
	<input type="text" name="email"><br>
	<label>Password :</label>
	<input type="password" name="password"><br>
	<input type="submit" value="Login">
</form>