<h1>User Profile</h1>

Name: <%= @user.name %>
Email: <%= @user.email %>
Description: <%= @user.description %>

<a href="/users/<%= users.id %>/edit"> Edit Profile </a>
<form action="/users" method="POST">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete">
</form>